@import 'ember-paper';

.red {
  background-color: #f44336
}

.grey {
  background-color: #9e9e9e;
}

.blue {
  background-color: #0091ea;
}

.green {
  background-color: #aeea00;
}

.orange {
  background-color: #ff9800;
}

.purple {
  background-color: #536dfe;
}

.fixed {
  position: fixed;
  right: 50px;
  z-index: 99;
}