{{#paper-card as |card|}}
  {{#card.content class='fixed'}}
    {{#link-to 'admin'}}ADMIN{{/link-to}}
    {{#link-to 'dashboard'}}dashboard{{/link-to}}
    {{#link-to 'dashboard.first-level'}}dashboard/first{{/link-to}}
    {{#link-to 'dashboard.first-level.second-level'}}dashboard/second{{/link-to}}
  {{/card.content}}
{{/paper-card}}

{{#paper-card as |card|}}
  {{#card.content}}
    {{#paper-grid-list
    cols="6"
    rowHeight="3:2"
    gutter="10px" as |grid|}}

      {{#grid.tile
      class="red"
      colspan="4"
      rowspan="2"}}
      {{/grid.tile}}

      {{#grid.tile
      class="blue"
      colspan="1"
      rowspan="1"}}
      {{/grid.tile}}

      {{#grid.tile
      class="green"
      colspan="1"
      rowspan="1"}}
      {{/grid.tile}}

      {{#grid.tile
      class="orange"
      colspan="1"
      rowspan="1"}}
      {{/grid.tile}}

      {{#grid.tile
      class="purple"
      colspan="1"
      rowspan="1"}}
      {{/grid.tile}}

      {{#grid.tile
      class="blue"
      colspan="3"}}
      {{/grid.tile}}

      {{#grid.tile
      class="green"
      colspan="3"}}
      {{/grid.tile}}

      {{#grid.tile
      class="orange"
      colspan="2"
      rowspan="2"}}
      {{/grid.tile}}

      {{#grid.tile
      class="blue"
      colspan="2"
      rowspan="2"}}
      {{/grid.tile}}

      {{#grid.tile
      class="red"
      colspan="2"
      rowspan="2"}}
      {{/grid.tile}}

    {{/paper-grid-list}}
  {{/card.content}}
{{/paper-card}}